@using ExamApp.Models

@model List<Fruit>
@{
    int count = 0;
}
<div>
    <a asp-controller="Fruit" asp-action="Create" class="btn btn-primary" style="margin-left:90px"> Create</a>
</div>
<div class="container">
<table class="table">
    <thead>
        <tr>
            <th scope="col">No#</th>
            <th scope="col">Title</th>
            <th scope="col">SubTitle</th>
            <th scope="col">Image</th>
        </tr>
    </thead>
    <tbody>
      @foreach (var item in Model)
            {
                count++;
                <tr>
                    <th scope="row">@count</th>
                    <td>@item.Title</td>
                    <td>@item.Subtitle</td>
                    <td>
                        <div style="width:100px">
                        <img width="100%" src="~/Upload/Fruit/@item.ImgUrl"/>

                        </div>
                    </td>
                    <td>
                        <a class="btn btn-warning" asp-controller="Fruit" asp-action="Update" asp-route-id="@item.Id">Update</a>
                        <a class="btn btn-danger" asp-controller="Fruit" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }

    </tbody>
</table>
</div>